<div class="container">

<h2> Confirm deletion of this post? </h2>
<%= @my_post.id %> - <%=@my_post.title %>: <%= @my_post.content %>
<br>
<form action=<%="delete/#{@my_post.id}" %> method = 'Post' >
  <input type = "submit" value="Confirm">
  </form>
<br>
<form action="/posts" method="GET" >
<input type="submit" value ="Cancel">
<form> 



</div>
